data/
!data/aldp/position_min_energy.pt
plots/
results/

__pycache__/
*.pyc
*.py[cod]
.ipynb_checkpoints/

.vscode/
TASKS.md
DATASET.md
tasks/ 
scripts/
tests/

env/
venv/
.accelmd/
accelmd/

.cursorrules
.cursorignore
.cursorignorerules
.cursor/rules

.DS_Store

*.log
*.out
*.tmp

# Weights & Biases
wandb/
configs/logger/wandb.yaml
