datasets/
!datasets/aldp/position_min_energy.pt
plots/
results/

__pycache__/
*.pyc
*.py[cod]
.ipynb_checkpoints/

.vscode/
docs/ 
logs/
checkpoints/
tests/
train_flow.sh
evaluate_flow.sh
run_gmm_experiment.sh
outputs/ 

env/
venv/

.cursorrules
.cursorignore
.cursorignorerules
.cursor/rules

.DS_Store

*.log
*.out
*.tmp

# Weights & Biases
wandb/
configs/wandb.yaml
